<%= form_with model: hotel do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :contact_email %><br>
    <%= form.text_field :contact_email %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image%>
  </div>

  <div class="my-2">
    <%= form.submit :class => 'btn btn-secondary'  %>
  </div>
<% end %>