<% if current_user.admin and review.approved_by==0  %>
  <hr>
  <h3>Pending Review</h3>
  <%= render 'reviews/show', review: review %>
  <br><br>
  <%=link_to "Approve", hotel_review_approve_path(hotel_id: @hotel.id, id: review.id), class:"btn btn-secondary" %>
  <%= link_to "Destroy", hotel_review_destroy_path(hotel_id: @hotel.id, id: review.id), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class:"btn btn-secondary" %>
<% else %>
  <% if review.approved_by!=0 %>
    <hr>
    <div class="my-5">
      <%= render 'reviews/show', review: review %>
    </div>
    <div class="ml-9 review-comment">
      <%= render 'usercomments/comments', review: review %>
      <h4>Add a comment:</h4>
      <%= render 'usercomments/form', review: review %>
    </div>
  <% end %>
<% end %>


